
.tech:hover{
    text-decoration-line: none;
    color: white; 
    font-size: 50px;
}
.tech1:hover{
    text-decoration-line: none;
    color: white; 
    font-size: 50px;
}
.tech{
    text-decoration-line: none;
    color: #222222;
    font-size: 44px; position: absolute; z-index: 99999999; margin-top: 25%; margin-right: -59px;
}
.tech1{
    text-decoration-line: none;
    color: #222222;
    font-size: 44px; position: absolute; z-index: 99999999; margin-top: 25%; margin-right: -77px;
}